@model Boards.Models.Board
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h4>Look at my cool Boards Wich has the name @Model.Name,@Model.Length, @Model.Width, @Model.Thickness, @Model.Volume, @Model.Type, @Model.Price, @Model.Equipment</h4>